---
title: Topics
layout: base
permalink: /categories/
---

{% for category in site.categories %} {% assign category_name = category | first%}
<h3>
  <a
    href="{{ '/categories/' | append: '/' | append: category_name | slugify | append: '/' | relative_url }}">
    <u>{{ category_name }}</u>
  </a>
  <!-- {{ category_name }} -->
</h3>
<ul>
  {% for post in category.last limit:5 %}
  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date |
    date: "%B %d, %Y" }})
  </li>
  {% endfor %}
</ul>
{% endfor %}
