<link
  id="fa-stylesheet"
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"
/>

<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <h2 class="footer-heading">Luke Brennan</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Luke Brennan</li>
          <li>
            <a class="u-email" href="mailto:lukejohnbrennan@gmail.com"
              >lukejohnbrennan@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/lukejbrennan"
              ><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg>
              <span class="username">lukejbrennan</span></a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/luke-brennan"
              ><svg class="svg-icon">
                <use
                  xlink:href="/assets/minima-social-icons.svg#linkedin"
                ></use>
              </svg>
              <span class="username">luke-brennan</span></a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>
          This site is still under development. You really even shouldn&#39;t be
          reading this. That&#39;s okay. Or just click the X in your browser. Or
          read on. I can edit this line in _config.yml. It will appear in your
          document head meta (for Google search results) and in your feed.xml
          site description.
        </p>
      </div>
    </div>
  </div>
</footer>
