<link
  id="fa-stylesheet"
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"
/>

<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
            <ul class="contact-list">
                <li class="p-name">{{ site.author.name | escape }}</li>
                <li>
                    <a class="u-email" href="mailto:{{ site.author.email }}"
                    >{{ site.author.email }}</a
                    >
                </li>
                <li class="p-name">{% include payment_button.html %}</li>
            </ul>
        </div>
        <div class="footer-col footer-col-2">
            <ul class="social-media-list">{%- include social.html -%}
            </ul>
        </div> 
        <div class="footer-col footer-col-3">
            <p>It costs $5 to go to this site and read any of the content. This is that little wooden box
  outside abandoned campsites asking you to register your car and pay $40. 
  Please donate. Come on... <a href="https://lilya2148.github.io/depression">Click here</a> to donate. Just kidding ha, ha and sorry for 
  even joking about that! I'm just glad you're here!
  On a blog! Look at us ha, ha. Can I get you anything? Sparkling water? 
  A car? Can I get you a car? I'll look into it. Anyway, no need to pay!!</p>
        </div>
    </div>
  </div>
</footer>
